extends layout/header
block content
    br
    br
    .row
        .col.s8.offset-l2
            .card-panel.orange.lighten-2.white-text Vous n'avez pas encore de compte ?
                | Inscrivez vous&nbsp;
                a(href='inscription') ici.
    if error
        .row
            .col.s8.offset-l2
                .card-panel.red.lighten-2.white-text #{error}

    br
    .row
        form.col.s8.offset-l2.white.hoverable(action='/connection', method='post')
            br
            .row
                .input-field.col.s12
                    input#email.validate(type='text', name='email', value="#{email || ''}")
                    if missingEmail
                        label.red-text(for='email', data-success='Ok :)') Email ou pseudo
                    else
                        label(for='email', data-error='Veuillez saisir une adresse mail valide', data-success='Ok :)') Email ou pseudo
            .row
                .input-field.col.s12
                    input#passsword.validate(type='password', name='pwd', value="#{pwd || ''}")
                    if missingPwd
                        label.red-text(for='passsword') Mot de passe
                    else
                        label(for='passsword') Mot de passe
            .row
                .col.s12.center-align
                    button.btn.waves-effect.waves-light.green(type='submit', name='action')
                        | S'inscrire
                        i.material-icons.right send
                    | &emsp;
                    button.btn.waves-effect.waves-light.orange(type='reset', name='action')
                        | Effacer
                        i.material-icons.right replay
    br
    br