extends layout/header
block content
   br
   br
   br
   .container
      .row.center
            h2.center-align.light-blue-text Bulb
            h5.center Conception de circuit electrique
   .container
      .row.center
         img.center-align(src='https://images.vexels.com/media/users/3/129021/isolated/lists/00d00ccce8836900ee91cf83a0707f71-water-drop-bulb-icon.png', width="128", height="128" )
   .container
      .row.center
         a#download-button.btn-large.waves-effect(href='#') Télécharger
            i.material-icons play_for_work
