/*Fixe le footer en bas de la page*/
footer {
    position:absolute;
    width: 100%;
    bottom:0;
}

#download-button {
    background: #e67e22;
}

body{
    background-image: url("https://cdn.discordapp.com/attachments/186866367218188289/308669589082865674/walaibilay.png");
}