/* Apparence générale du site */

footer {
    background: #34495e;
    padding-top: 5px;
}

.footer-copyright{
    background: #2c3e50;
    padding-bottom: 14px;
    padding-top: 5px;
}

/** Coleur de la barre de navigation */
nav {
    background: #34495e;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/186866367218188289/308669589082865674/walaibilay.png");
}
