footer
    .container
        .col.l6.s12
            h5.white-text Bulb
            p.grey-text.text-lighten-4
                | Cette application permet de concevoir des montages électriques,
                | de les tester et de simuler leur fonctionnement.
                | Avec son système de plugin, il est possible d’ajouter des composants supplémentaires ainsi que de nouvelles fonctionnalités à l’application.
    .footer-copyright
        .container
            img(src='https://images.vexels.com/media/users/3/129021/isolated/lists/00d00ccce8836900ee91cf83a0707f71-water-drop-bulb-icon.png', width="32", height="32" )
            |&emsp;
            span.white-text Bulb - 2017
            |&emsp;|&emsp;
            a.white-text(href='/propos') A propos
            |&emsp;|&emsp;
            a.white-text(href='/contact') Nous contacter <br>

// Scripts, Jquery -> materialize
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='materialize-css/dist/js/materialize.min.js')